.contenedor{
  display: flex;
  flex-flow: row nowrap;
}
#contenido {
display: flex;
flex-direction: column;
}

#destacados{
  background-color: #669999;
}
#ofertas{
  background-color: #F7D988;
}
#disponible{
  background-color: #F7A188;
}
#destacados .contenedor > div {
text-align: center;
padding: 10px;
margin: 10px;
background-color: white;
width: 50%;
}

#ofertas .contenedor > div {
text-align: center;
padding: 10px;
margin: 10px;
background-color: white;
width: 33.3%;
}

#disponible .contenedor > div {
text-align: center;
padding: 10px;
border: solid 5px coral;
background-color: white;
width: 25%;
}

section h1{
  text-align: center;
  padding: 10px;
}

footer{
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid black;
}
