.input-group{
  margin-top: 1rem;
}

body{
  background-image: url("../img/fondo.jpg");
  color: white;
}

a {
    color: white !important;
 }

 .panel-izq{
   background-color: rgba(255, 0, 0, .3);
 }

 .panel-der{
   background-color: rgba(0, 255, 0, .3);
   margin: 0.5rem;
 }

.content-principal{
  background-color: rgba(0, 0, 0, .5);
}

.imagen-comentario{
  max-width: 50px !important;
}
